{% load static %}
<div class="slider_2 m-4">
    <div class="m-2">
        <img src="{% static 'assets/banner_load_l.png'%}" data-src="{% static 'front_page_images/1.png' %}" onerror="this.src='https://i.ibb.co/Px6bPKk/banner-load-l.png';this.onerror='';" class="img-resize d-block attachment-home-thumb lazyload" loading="lazy" alt="Banner Image">
    </div>
    <div class="m-2">
        <img src="{% static 'assets/banner_load_l.png'%}" data-src="{% static 'front_page_images/2.png' %}" onerror="this.src='https://i.ibb.co/Px6bPKk/banner-load-l.png';this.onerror='';" class="img-resize d-blockattachment-home-thumb lazyload" loading="lazy" alt="Banner Image">
    </div>
    <div class="m-2">
        <img src="{% static 'assets/banner_load_l.png'%}" data-src="{% static 'front_page_images/3.png' %}" onerror="this.src='https://i.ibb.co/Px6bPKk/banner-load-l.png';this.onerror='';" class="img-resize d-block attachment-home-thumb lazyload" loading="lazy" alt="Banner Image">
    </div>
    <div class="m-2">
        <img src="{% static 'assets/banner_load_l.png'%}" data-src="{% static 'front_page_images/4.png' %}" onerror="this.src='https://i.ibb.co/Px6bPKk/banner-load-l.png';this.onerror='';" class="img-resize d-block attachment-home-thumb lazyload" loading="lazy" alt="Banner Image">
    </div>
</div>