{% load static %}
{% load humanize %}
<div class="card-header">
   
   <div class="row">
    <div class="col-8 col-lg-10">
        <h1>{{products.name}}</h1>
    </div>
    <div class="col-4 col-lg-2">
        <div class="row justify-content-end">
            <a href="{% url 'shop:products' products.slug %}" class="btn border border-dark">
                Others
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#000000"><path d="m288-96-68-68 316-316-316-316 68-68 384 384L288-96Z"/></svg>
            </a>
        </div>
    </div>
   </div>
</div>
<div id="carouselExampleIndicators{{products.id}}" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-inner">
        {% for p in "12"|make_list %}
        <div class="carousel-item{% if forloop.first %} active{% endif %}">

            <div class="row">
                {% if forloop.first %}
                {% for product in products.products %}
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <img width="500" height="500" src="{% static 'assets/banner_load_l.png' %}" data-src="{{product.image.url}}" loading="lazy" class="card-img-top img-fluid lazyload" alt="{{product.name}} image">
                        <div class="card-body">
                            <p class="card-title">{{product.name|truncatechars:23}}</p>
                            <p class="card-text">UGX {{product.price|intcomma}}</p>
                            <a href="{% url 'shop:single_product' products.slug product.slug %}" class="btn border border-dark w-100">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                {% for product in products.products_set_two %}
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <img data-src="{{product.image.url}}" loading="lazy" class="card-img-top lazyload" alt="{{product.name}} image">
                        <div class="card-body">
                            <p class="card-title">{{product.name|truncatechars:23}}</p>
                            <p class="card-text">UGX {{product.price|intcomma}}</p>
                            <a href="{% url 'shop:single_product' products.slug product.slug %}" class="btn border border-dark w-100">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{products.id}}"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{products.id}}"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>