{% extends 'layout' %}
{% block content %}
<style>
    .sec {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    }
    header h1 {
    color: #005a9c;
    }
    section h2 {
    color: #005a9c;
    }
</style>
    
    <div class="text-center">
        <h1>Mzuri Express Privacy Policy</h1>
    </div>
    <section class="sec">
    <h2>Introduction</h2>
    <p>Welcome to Mzuri Express. We are committed to protecting the privacy and security of our customers' information. This Privacy Policy outlines the types of information we collect, how it is used, and the steps we take to safeguard it.</p>
    </section>
    <section class="sec">
    <h2>Information Collection</h2>
    <p>We collect various types of information from our users, including personal information such as names, and email addresses. We also collect non-personal information such as user preferences to enhance our service.</p>
    </section>
    <section class="sec">
    <h2>Use of Information</h2>
    <p>The information we collect is used to provide, maintain, and improve our services, as well as to develop new ones. It also helps us personalize the user experience and communicate with you about our services, including promotional offers.</p>
    </section>
    <section class="sec">
    <h2>Information Sharing</h2>
    <p>We do not sell or rent personal information to third parties. However, we may share information with trusted partners who work on our behalf under confidentiality agreements. These companies may use your information to help Mzuri Express communicate with you about offers from us and our marketing partners.</p>
    </section>
    <section class="sec">
    <h2>Data Security</h2>
    <p>We take the security of your data seriously and implement a variety of security measures to maintain the safety of your personal information. Our measures include, but are not limited to, encryption, firewalls, and secure socket layer technology.</p>
    </section>
    <section class="sec">
    <h2>Your Rights</h2>
    <p>You have the right to access, correct, or delete your personal information stored with us. You can also object to the processing of your data in certain circumstances. To exercise these rights, please contact us at the details provided below.</p>
    </section>
    <section class="sec">
    <h2>Policy Changes</h2>
    <p>We may update this privacy policy to reflect changes to our information practices. If we make any material changes, we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this website prior to the change becoming effective.</p>
    </section>
    <footer class="sec">
    <p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
    <a href="mailto:contact@mzuriexpress.com">contact@mzuriexpress.com</a>
    </footer>
{% endblock %}