{% load static %}
{% load humanize %}
{% load discount %}
<section>
    <div class="card border-danger">
        <div class="card-header text-center">
            {{ category.name }}
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    {% for product in category.products_set %}
                    <div class="col-lg-3 col-md-4 col-6 item mt-3">
                        <div class="card item-card card-block position-relative">
                            {% if product.discount > 0 %}
                        <div class="position-absolute top-0 end-0">
                            <span class="badge bg-secondary">
                                -{% percentage_discount product.price product.discount %}%
                            </span>
                        </div>  
                        {% endif %}  
                            <a href="{% url 'shop:single_product' product.category.slug product.slug %}" aria-label="View {{product.name}}">
                            <img width="500" height="500" src="{% static 'assets/banner_load_l.png' %}" data-src="{{product.image.url}}" class="img-fluid lazyload" loading="lazy" alt="{{product.name}} image">
                            <h6>{{product.name|truncatechars:23}}</h6>
                            <h6 class="item-card-title">UGX {{product.price|intcomma}}</h6>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>