  {% load humanize %}
  <!--META TAGS -->
  <meta charset="UTF-8">
  <meta name="keywords" content="{{keywords|safe}}"/>
  <meta name="description" content="{{description | truncatewords:100}}"/>
  <meta name="subject" content="Mzuri Express Appliances Uganda online shopping, Get products at favourable prices">
  <meta name="language" content="EN">
  <meta name="robots" content="index,follow" />
  <meta name="summary" content="{{summary}}">
  <meta name="Classification" content="Business">
  <meta name="url" content="https://www.mzuriexpress.com{{request.path}}">
  <meta name="identifier-URL" content="https://www.mzuriexpress.com{{request.path}}">
  <meta name="category" content="{{meta_category}}">
  <meta name="coverage" content="Worldwide">
  <meta name="distribution" content="Global">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  
  
  <!--Open Graph meta tags -->
  <meta name="og:title" content="{{title}}"/>
  <meta name="og:type" content="product"/>
  <meta name="og:url" content="https://www.mzuriexpress.com{{request.path}}"/>
  <meta name="og:image" content="https://www.mzuriexpress.com{{product.image.url}}"/>
  <meta name="og:site_name" content="Mzuri Express Appliances Uganda"/>
  <meta name="og:description" content="{{description | truncatewords:180}}"/>
  <meta name="og:email" content="contact@mzuriexpress.com"/>
  <meta name="og:phone_number" content="256 700 229 775"/>


  <!--Google Meta tags-->
<meta itemprop="name" content="{{title}}" />
<meta itemprop="description" content="{{description | truncatewords:100}}" />
<meta itemprop="image" content="https://www.mzuriexpress.com{{product.image.url}}" /> 

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:description" content="{{description | truncatewords:100}}" />
<meta name="twitter:image" content="https://www.mzuriexpress.com{{product.image.url}}" />
    <!--END META TAGS-->