  <!--META TAGS -->
  <meta charset="UTF-8">
  <meta name="keywords" content="{{keywords|safe}}"/>
  <meta name="description" content="{{description}}"/>
  <meta name="subject" content="MZURI EXPRESS online shopping, Get products at favourable prices">
  <meta name="copyright"content="MZURI EXPRESS">
  <meta name="language" content="EN">
  <meta name="robots" content="index,follow" />
  <meta name="topic" content="online shopping">
  <meta name="summary" content="{{summary}}">
  <meta name="Classification" content="Business">
  <meta name="author" content="MZURI EXPRESS, marvinnamwamba@gmail.com">
  <meta name="designer" content="MZURI EXPRESS">
  <meta name="copyright" content="MZURI EXPRESS">
  <meta name="reply-to" content="marvinnamwamba@gmail.com">
  <meta name="owner" content="MZURI EXPRESS">
  <meta name="url" content="https://www.mzuriexpress.com{{request.path}}">
  <meta name="identifier-URL" content="https://www.mzuriexpress.com{{request.path}}">
  <meta name="category" content="{{meta_category}}">
  <meta name="coverage" content="Worldwide">
  <meta name="distribution" content="Global">
  <meta name="rating" content="General">
  <meta name="revisit-after" content="2 days">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  
  
  <!--Open Graph meta tags -->
  <meta name="og:title" content="MZURI EXPRESS | {{title}}"/>
  <meta name="og:type" content="product"/>
  <meta name="og:url" content="https://www.mzuriexpress.com{{request.path}}"/>
  <meta name="og:image" content="https://www.mzuriexpress.com{{product.image.url}}"/>
  <meta name="og:site_name" content="MZURI EXPRESS"/>
  <meta name="og:description" content="{{description}}"/>
  <meta name="og:email" content="marvinnamwamba@gmail.com"/>
  <meta name="og:phone_number" content="256 774 880 026"/>
    <!--END META TAGS-->