{% extends 'layout' %}
{% load static %}
{% block content %}
<style>
  form.user_data {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
</style>

<img width="500" height="500" src="{% static 'assets/banner_load_l.png' %}" data-src="{{product.image.url}}" class="img-fluid card-img-top lazyload" loading="lazy" alt="{{product.name}} image">
<div  class="container text-center"><b>Check Out {{product.name}}</b></div>
<form class="user_data" action="{% url 'shop:public_cart' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="product_id" value="{{product.secodary_id}}" id="id_product_id" />
    <input type="hidden" name="product_name" value="{{product.name}}" id="id_product_name" />
    <input type="submit" value="Check Out" class="btn btn-success w-100">
  </form>
  <a href="{% url 'shop:single_product' product.subcategory.slug product.slug %}" class="btn btn-warning w-100">Visit Product</a>
{% endblock %}